.header {
    background-color: black;
    padding: 20px;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
      "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  }
  .headertext {
    color: white;
    text-align: center;
  }
  .nomargin {
    margin: 0px;
    background-color: black;
  }
  .mainsection {
    background-color: grey;
    padding: 15px;
    font-size: 20px;
    text-align: center;
    font-weight: bold;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
      "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  }
  
  * {
    box-sizing: border-box;
  }
  h1 {
    font-size: 50px;
  }
  
  .row {
    margin: 8px -16px;
  }
  .column {
    padding: 8px;
    float: left;
    width: 25%;
  }
  .footer {
    background-color: grey;
    padding: 10px;
  }
  img {
    height: 300px;
  }